extends ../auth-layout

block content
    .login-form
        h2(class="text-center") Reset Password
        if error != ''
            div.alert.alert-danger(role="alert") #{error}
        if message != ''
            div.alert.alert-success(role="alert") #{message}    
        form(action='/forgot-password' method='post')
            div.text-center.top-image
                img.text-center(src='/assets/images/user.png')
            div(class='form-group')
                input(class="form-control" type='text' name='email' placeholder="Enter your email" required)               
            div(class='form-group')
                input(type='submit' value='Submit' class="btn btn-primary btn-block")