extends ../auth-layout

block content
    .login-form
        h2(class="text-center") Reset Password
        if message != ''
            div.alert.alert-danger(role="alert") #{message}
        form(action='/auth/reset-password' method='post')
            div.text-center.top-image
                img.text-center(src='/assets/images/user.png')
            div(class='form-group')
                input(class="form-control" id='password' type='password' name='password' placeholder="Enter new password" required)
            div(class='form-group')
                input(class="form-control" id='c_password' type='password' name='c_password' placeholder="Confirm password" required)                
            div(class='form-group')
                input(type='hidden' name='token' value='#{reset_token}')                
            div(class='form-group')
                input(type='submit' value='Submit' class="btn btn-primary btn-block")