<div class="modal bd-example-modal-lg" id="contextModal" tabindex="-1" role="dialog" autocomplete="off">
  <div class="modal-dialog" role="document">
    <form onsubmit="return false">
      <div class="modal-content">
        <div class="modal-header" style="background: #eaeaea">
          <h4 class="modal-title custom-context-scene default">Edit Action</h4>
          <h4 class="modal-title custom-context-scene delete">Delete Action</h4>
          <h4 class="modal-title custom-context-scene folder-edit">Edit Folder</h4>
          <h4 class="modal-title custom-context-scene f_delete">Delete Folder</h4>
          <button type="button" class="cancel" data-dismiss="modal" aria-label="Cancel">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="custom-context-scene default">
            <div class="form-group">
              <label for="folder-name">File Name</label>
              <input type="text" class="form-control" id="file-name" name='file-name' aria-describedby="emailHelp" placeholder="Enter File Name">
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group">
              <label for="menu-name">Menu Title</label>
              <input type="text" class="form-control" id="menu-name" name='menu-name' aria-describedby="emailHelp" placeholder="Enter Menu Title">
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
          </div>

          <div class="custom-context-scene folder-edit">
            <div class="form-group">
              <label for="folder-name">Folder Name</label>
              <input type="text" class="form-control" id="file-name" name='folder-name' aria-describedby="emailHelp" placeholder="Enter File Name">
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
          </div>
          <div class="custom-context-scene delete">
            <div class="form-group">
              <h5>Are you sure? The underlying script will be deleted also!</h5>
            </div>
          </div>
          <div class="custom-context-scene f_delete">
            <div class="form-group">
              <h5>Are you sure? The underlying script will be deleted also!</h5>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <div class="custom-context-scene default">
            <button class="btn btn-primary saveas">Save As</button>
            <button class="btn btn-primary save">Save</button>
          </div>
          <div class="custom-context-scene folder-edit">
            <button class="btn btn-primary folder-save">Save</button>
          </div>
          <div class="custom-context-scene delete">
            <button class="btn btn-primary">Delete</button>
          </div>
          <div class="custom-context-scene f_delete">
            <button class="btn btn-primary">Delete</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
