<div id="seqModal" class="row justify-content-center" style="display:none">
    <div class="modal-container">
        <div class="content-parent">
            <div class="content">
                <p style='line-height:20px'>Please select all servers that should be processed next and choose the Action;  press Completed when done or Cancel to Exit</p>
            </div>
            <div class="footer-actions">
                <button class="btn btn-danger" onclick="seqModalCancel()">Cancel</button>
                <button class="btn btn-success" onclick="seqModalComplete()">Completed</button>
                <!-- <button class="btn btn-success" onclick="seqModalProceed()">Proceed</button> -->
            </div>
        </div>
    </div>
</div>