doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', href='/stylesheets/fontawesome.min.css')
    script(href='/javascripts/fontawesome.min.js')
body
  block content
  
  block scripts
