<div class="log-container" style="width: 1440px">
  <div class="status-box">
    <table id="status-box">
      <thead>
        <tr>
          <th>ID</th>
          <th>HostName</th>
          <th>IFN</th>
          <th>CFN</th>
          <th>SID</th>
          <th>CustName</th>
          <th>Generated</th>
          <th>Scheduled</th>
          <th>Scriptname</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <div id="logs">
    <h3>Logs</h3>
    <div class="logs"></div>
  </div>
</div>