<div
  class="modal"
  id="log-form-modal"
  tabindex="-1"
  role="dialog"
  autocomplete="off"
>
  <div class="modal-dialog" role="document">
    <form id="log-form">
      <div class="modal-content">
        <div class="modal-header" style="background: #eaeaea">
          <h3 class="modal-title">Modal title</h3>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="id" id="id" />

          <div class="form-group row">
            <label for="HostName" class="col-3 col-form-label">HostName</label>

            <div class="col-9">
              <input
                id="HostName"
                name="HostName"
                type="text"
                class="form-control"
                required="required"
              />
              <div class="invalid-feedback"><!--server errors--></div>
            </div>
          </div>

          <div class="form-group row">
            <label for="IFN" class="col-3 col-form-label">IFN</label>

            <div class="col-9">
              <input
                id="IFN"
                name="IFN"
                type="text"
                class="form-control"
                required="required"
              />
              <div class="invalid-feedback"><!--server errors--></div>
            </div>
          </div>
          <div class="form-group row">
            <label for="CFN" class="col-3 col-form-label">CFN</label>

            <div class="col-9">
              <input
                id="CFN"
                name="CFN"
                placeholder="CFN"
                type="text"
                class="form-control"
                required="required"
              />
              <div class="invalid-feedback"><!--server errors--></div>
            </div>
          </div>

          <div class="form-group row">
            <label for="SID" class="col-3 col-form-label">SID</label>

            <div class="col-9">
              <input
                id="SID"
                name="SID"
                type="text"
                class="form-control"
                required="required"
              />
              <div class="invalid-feedback"><!--server errors--></div>
            </div>
          </div>

          <div class="form-group row">
            <label for="CustName" class="col-3 col-form-label">CUSTNAME</label>

            <div class="col-9">
              <input
                id="CustName"
                name="CustName"
                type="text"
                class="form-control"
                required="required"
              />
              <div class="invalid-feedback"><!--server errors--></div>
            </div>
          </div>
          <div class="form-group row">
            <label for="Content" class="col-3 col-form-label">Content</label>

            <div class="col-9">
              <textarea
                id="Content"
                name="Content"
                rows="5"
                class="form-control"
                required="required"
              ></textarea>
              <div class="invalid-feedback"><!--server errors--></div>
            </div>
          </div>
          <div class="form-group row">
            <label for="DateGenerated" class="col-3 col-form-label"
              >Generated</label
            >

            <div class="col-9">
              <input
                id="DateGenerated"
                name="DateGenerated"
                type="text"
                class="form-control"
                required="required"
              />
              <div class="invalid-feedback"><!--server errors--></div>
            </div>
          </div>
          <div class="form-group row">
            <label for="DateScheduled" class="col-3 col-form-label"
              >Scheduled</label
            >

            <div class="col-9">
              <input
                id="DateScheduled"
                name="DateScheduled"
                type="text"
                class="form-control"
                required="required"
              />
              <div class="invalid-feedback"><!--server errors--></div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancel
          </button>
          <button class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </form>
  </div>
</div>
