body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a.edit {
  margin-right: 10px;
}

table th {
  background-color: #fff;
}
#automation-title{
  margin-top:0;
}
div.checkbox{
  margin-top:0;
  margin-bottom:0;
}

#automation-main{
  margin-left:20px;
}
