body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

a.edit {
  margin-right: 10px;
}

table th {
  background-color: #fff;
}
#automation-title {
  margin-top: 0;
}
div.checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

#automation-main {
  margin-left: 20px;
}
.log-container {
  padding: 10px;
  margin: 0px 35px;
}
.logs {
  border: 1px solid black;
  padding: 10px;
}
#logs {
  display: none;
}
.status-box table {
  border-collapse: collapse;
  width: 100%;
}

.status-box th,
td {
  text-align: left;
  padding: 8px;
}

.status-box tr:nth-child(even) {
  background-color: #f2f2f2;
}

.status-box th {
  background-color: #4caf50;
  color: white;
}

.log-data {
  display: none;
  white-space: pre-wrap;
}

/* Scheduler Styles */
.main-content {
  background: #262626;
  color: #d4d4d4;
  width: 40%;
  padding: 10px 30px;
  font-family: sans-serif;
}

.title {
  font-weight: normal;
  margin-bottom: 35px;
}
.item {
  margin: 25px 0px;
}
.glyphicon-calendar {
  right: 25px;
}

.item p {
  font-size: 12px;
}
select {
  padding: 10px 0px 5px 3px;
}
select {
  border: none;
  background: transparent;
  color: inherit;
  border-bottom: 1px solid #ccc;
}
.form-field:focus,
.form-dropdown:focus {
  outline: none;
}
#scheduler_modal .form-control,
.form-dropdown {
  width: 50%;
}
.flex-box {
  display: flex;
  justify-content: space-around;
}

input#time {
  text-align: center;
  flex-grow: 1;
  width: 20px !important;
}

input#date {
  display: inline-block;
}
.flex-box * {
  min-width: 0px;
  margin: 0px 5px;
}

select#format {
  flex: 1;
}

select#zone {
  flex: 3;
}
.hidden,
.hidden_fields {
  display: none;
}

.contents {
  text-align: center;
  padding: 40px 10px;
}

.contents button {
  width: 100%;
}

input#file,
input.file {
  display: none;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.dropdown-submenu span {
    float: right;
    margin-top: 4px;
}

p.action_title {
  font-size: 16px;
  margin-bottom: 20px;
  color: #757575;
  text-decoration: underline;
}
table.table-custom {
  width: 100%;
}

.table-custom th {
  height: 50px;
}

.table-custom td {
  padding: 7px 0px;
}
.jconfirm.jconfirm-my-theme .jconfirm-bg{
    background-color: #444;
    opacity: .2;
}

.padded-content {
  padding: 0px 20px;
}

/* 
.jconfirm.jconfirm-my-theme .jc-bs3-row{
  justify-content: unset !important;
} */
.jconfirm.jconfirm-my-theme .jconfirm-box{
}
.jconfirm.jconfirm-my-theme .jconfirm-box.loading{
}
.jconfirm.jconfirm-my-theme .jconfirm-box.loading:before{
}
.jconfirm.jconfirm-my-theme .jconfirm-box.loading:after{
}
.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-closeIcon{
}
.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-title-c{
}
.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-content-pane{
}
.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-content{
}
.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons{
  text-align: center;
}
.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons button{
}
.jconfirm-buttons .btn-custom {
  white-space: normal !important;
  max-width: 160px;
  height: 60px;
}
div#seqModal {
  position: absolute;
  top: 0px;
  width: 90%;
  margin: auto;
  text-align: center;
  display: flex;
}

.modal-container {
  background: antiquewhite;
  border: 1px solid #d4cdcd;
  border-radius: 5px;
  box-shadow: 1px 1px 6px #d2c9c9;
  padding: 10px;
}

.footer-actions button {
  height: 30px;
}

.content {
  font-size: 15px;
}
.cell-scroll {
  overflow: auto;
  max-height: 80px;
  max-width:286px;
}
label.col-form-label {
  padding-left: 15px;
}
div#menu-header {
  text-align: right;
}